/* Styles by Econom Vladimir */

/*
 *  Common styles
 */

html {
  padding: 0;
}
body {
  padding:0;
}

/*
 *  Header
 */
.navbar-default {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}